# Скомпилированные / оптимизированные / DLL файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
.venv/

# Специфичные для Django файлы
*.log
*.pot
media

# Файл базы данных
db.sqlite3

# Файлы, специфичные для IDE
.idea/
*.iml
*.ipr
*.iws

# Файлы, специфичные для ОС (будьте осторожны с ними)
.DS_Store
Thumbs.db